body {
  background-color: #002b36;
  color: #93a1a1;
}

/* Hide scroll bars */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid #2aa198;
  min-height: 75%;
  padding: 10px;
}

.nickname {
  font-size: 30px;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 200px;
}

.bottom-text {
  vertical-align: bottom;
  color: #b58900;
}

.thicc {
  color: #268bd2;
}

h1 {
  color: #cb4b16;
  font-family: 'pokemon-solid';
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #859900;
  font-family: 'arcade-classic';
  font-size: 20px;
}

h3 {
  font-family: 'arcade-classic';
  padding-left: 35%;
}

.type {
  color: #268bd2;
}

li {
  font-family: 'arcade-classic';
  text-align: center;
}

ul {
  font-family: 'arcade-classic';
  padding-left: 35%;
}

button {
  border-color: #2aa198;
  color: #cb4b16;
  background-color: #002b36;
  display: block;
  font-family: 'arcade-classic';
  font-size: 30px;
  width: 70%;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

@media screen and (min-width: 1080px) {
  .card {
    flex: 1 1 calc(25% - 2rem);
  }
}

@font-face {
  font-family: 'pokemon-solid';
  src: url('pokemon-solid.ttf');
}

@font-face {
  font-family: 'pokemon-hollow';
  src: url('pokemon-hollow.ttf');
}

@font-face {
  font-family: 'arcade-classic';
  src: url('arcade-classic.ttf');
}
